@use "../abstracts" as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.875em;

  &__logo {
    height: 6.25em;
  }
}

.site-header {
  padding-top: 0 !important;
  margin: 0 !important;
  border-bottom-color: transparent !important;
}

.dropdown__content ul li a {
  font-size: 0.9375em;
  font-weight: 600;
  display: block;
  transition: all 0.3s;
  color: $color-dark-grey !important;
  padding: 0.625em 1.375em;
  &:hover {
    background-color: $color-dark-grey;
    color: $color-white !important;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item a {
  font-size: 0.9375em;
  text-transform: uppercase;
  transition: 0.3s;
  font-weight: 600;
  color: $color-dark;
  &:hover {
    color: $color-primary;
  }
}

.menu-header-menu-container .menu .menu-item {
  &:not(:last-child) {
    padding-right: 1.0625em;
  }
}

.hidden-cross {
  display: none;
  font-size: 3rem;
  color: $color-dark;
  cursor: pointer;
  @include respond(tab-port) {
    display: block;
  }
}

.sidebar {
  backdrop-filter: blur(1rem);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 11;
  width: 50%;
  background-color: rgba($color-white, 0.8);
  box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.2);
  @include respond(phone) {
    width: 100%;
  }
}

.sidebar li,
.sidebar li a {
  width: 100%;
  padding-bottom: 1.5rem;
}

.sidebar-menu-list {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-menu-list li a {
  color: $color-dark;
}

.icon-x {
  transition: 0.2s;
  padding: 2.5rem;
  font-size: 4rem;
}
