@use "../abstracts" as *;

*,
*::before,
*::after {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  @include respond(tab-land) {
    font-size: 93.75%; //15px
  }

  @include respond(tab-port) {
    font-size: 87.5%; //14px
  }

  @include respond(phone) {
    font-size: 71.25%; //13px
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
