li {
  list-style: none;
  white-space: nowrap;
}

ul {
  margin: 0 !important;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2.5em !important;
}

h2,
h3 {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

a:focus {
  outline: transparent !important;
}

p {
  margin: 0 !important;
}
