li {
  list-style: none;
  white-space: nowrap;
}

ul {
  margin: 0 !important;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none !important;
}

a:focus {
  outline: transparent !important;
}
