@use "../abstracts" as *;

.container {
  max-width: 71.25em;
  margin: 0 auto;
  // &--nav {
  //   height: 100%;
  //   padding: 0 8rem;
  //   @include respond(phone) {
  //     padding: 0 5rem;
  //   }
  // }
  @include respond(tab-land) {
    max-width: 58.75em;
  }
  @include respond(tab-port) {
    max-width: 46.25em;
  }
  @include respond(phone) {
    max-width: 33.75em;
  }
}

.mt-3 {
  margin-top: 1.25em;
}

section {
  margin: 6.25em 0;
}

.u-text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.content-wrap {
  padding: 0 1.875em;
}
