@use "../abstracts" as *;

.input {
  outline: none;
  padding: 1.25em;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1.25em;
  }

  &::placeholder {
    font-size: 1em;
  }

  &:focus {
    outline-color: $color-primary !important;
  }
}
